#testata {background-color: #ccc; border: 1px solid #000; }


/*qui formatto il menu principale*/
#menu {background-color: black; padding: 5px;}
#menu a {text-decoration: none; color:white;font-size: 1.2em; }
#menu a:hover {text-decoration: underline; color:red;}

/*qui formatto il contenitore centrale della pagine*/
#container {border: 1px solid #CCC; }
#container h1 {color:red;}

#sidebar {
	width: 20%; 
	min-height:500px;
	/*border-right: 1px solid #666;*/
	float:left;
}

#sidebar li{
	list-style: none;
}

#content {
	width: 75%; 
	min-height:500px;
	/*border-left: 1px solid #fc3;*/
	float: right;
}



#testata h1 {color:darkblue;}

